<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>bb7sw-alternate.app.link</string>
		<string>bb7sw.app.link</string>
		<string>bb7sw-alternate.test-app.link</string>
		<string>bb7sw.test-app.link</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>test</key>
		<string>key_test_pcZ99Jy6bH9GZTLqARToKlgmCrmFQykI</string>
		<key>live</key>
		<string>key_live_nf646Or4cH1T6IVEEGJpOkneFuauODmE</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.affirmaapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>affirmaapp</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
